[Unit]
Description=set mac based hostname on first boot
After=network.target

[Service]
Type=oneshot
TimeoutSec=infinity
ExecStart=/usr/sbin/mac-host.sh
ExecStart=/bin/systemctl --no-reload disable %n

